<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>One Page Wonder - Start Bootstrap Template</title>

  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="css/one-page-wonder.min.css" rel="stylesheet">


  

  <style>
.parallax {
  /* The image used */
  background-image: url("https://i.ibb.co/mJxbHXR/index.jpg");
  

  /* Set a specific height */
  min-height: 1000px; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@import url(https://fonts.googleapis.com/css?family=EB+Garamond|Cardo:400italic);


body {
    margin: 0;
    background-color: #6ee9cf;

}


.sandbox-correct-pronounciation {
  padding: 0em 0 2em 0;
}

.heading-correct-pronounciation {

  margin: auto;
  text-align: center;
  position: relative;
}


h1 {
  color: #fff;
  font-family: 'Cardo', serif;
  font-size: 1.5em;
  font-weight: normal;
  font-style: italic;
  letter-spacing: 0.1em;
  line-height: 2.2em;
}

em {
  font-family: 'EB Garamond', serif;
  font-size: 3.5em;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  display: block;
  font-style:normal;
  padding-top: 0.1em;
  text-shadow: 0.07em 0.07em 0 rgba(0, 0, 0, 0.1);
  
  &::before, &::after {
  content: "ยง";
  display: inline-block;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
    opacity: 0.2;
  margin: 0 0.6em;
  font-size: 0.5em;
}

}


.bottom {
  font-size: 1.5em;
  letter-spacing: 0.07em;
  font-size: 1em;
  display: block;
}
</style>

</head>


<body>
    
    
 <div class="sandbox sandbox-correct-pronounciation">
  <h1 class="heading heading-correct-pronounciation">
    Welcome to
    <em>PLAY TO LEARN</em>
"Beacause it's all about enjoying the journey and trying to get better every day."
  </h1>
</div>  


<div class="parallax"></div>
  <section>
    <div class="container" >
      <div class="row align-items-center">
        <div class="col-lg-6 order-lg-2">
          <div class="p-5"  >
          <a href ="/synonyms/start">
            <img class="img-fluid rounded-circle" src="https://www.synonyms.com/root/app_common/img/top_logo_syn.png" alt="" >
          </a>
          </div>
        </div>
        <div class="col-lg-6 order-lg-1">
          <div class="p-5">
            <h2 class="display-4">Learning Synonyms</h2>
            <p>A synonym is a word or expression that has nearly the same meaning as another word or expression. Synonyms tend to be adjectives, adverbs and verbs, with relatively few nouns qualifying as true synonyms.
            Genarally beginners should  like learning synonyms thanks to online synonym games as well as online dictionaries, and that's what we're using here.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6">
          <div class="p-5">
            <a href ="/quiz/start">
            <img class="img-fluid rounded-circle" src="https://cdn0.iconfinder.com/data/icons/online-education-butterscotch-vol-2/512/Questions_And_Answers-512.png" alt="">
            </a>

          </div>
        </div>
        <div class="col-lg-6">
          <div class="p-5">
            <h2 class="display-4">General knowledge quiz</h2>
            <p>This game  is a general knowledge quiz about diffirent topics. 
            Our quizzes are the perfect way to relax over a morning coffee or wind down before bed and also learn new things every day.</p>
          </div>
        </div>
      </div>
    </div>
  </section>


  <!-- Footer -->
  <footer class="py-5 bg-black">
    <div class="container">
      <p class="m-0 text-center text-white small">Copyrights ? &copy; don't care bruh!!</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>



</body>

</html>
